.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e2_10 { 
	background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
	width:1440px;
	height:914px;
	position:absolute;
	left:0px;
	top:110px;
}.e2_3 { 
	width:50px;
	height:50px;
	position:absolute;
	left:50px;
	top:30px;
	background-image:url(images/______.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_15 { 
	width:150.04998779296875px;
	height:100px;
	position:absolute;
	left:145px;
	top:15px;
	background-image:url(images/_________.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_4 { 
	width:800px;
	height:900px;
	position:absolute;
	left:100px;
	top:150px;
}.e2_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:800px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_9 { 
	width:800px;
	height:800px;
	position:absolute;
	left:0px;
	top:80px;
	background-image:url(images/______.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_32 { 
	border-radius:500px;
	width:60px;
	height:60px;
	position:absolute;
	left:15px;
	top:10px;
	background-image:url(images/______.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_33 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:21px;
	position:absolute;
	left:100px;
	top:32px;
	font-family:Inika;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e2_13 { 
	transform: rotate(90deg);
	width:45px;
	height:0px;
	position:absolute;
	left:125px;
	top:33px;
}.2_13 { 
	border:3px solid rgba(188.06250303983688, 188.06250303983688, 188.06250303983688, 1);
}.e2_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:1149px;
	top:31px;
}.e2_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_26 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:41.66666793823242px;
	height:41.66666793823242px;
	position:absolute;
	left:4.166666507720947px;
	top:4.166666507720947px;
}.e2_21 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1335px;
	top:32px;
}.e2_22 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_23 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:33.33333206176758px;
	height:33.33333206176758px;
	position:absolute;
	left:8.333333015441895px;
	top:8.333333015441895px;
}.e2_18 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1246px;
	top:31px;
}.e2_19 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_20 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:41.66666793823242px;
	height:38.22916793823242px;
	position:absolute;
	left:4.166666507720947px;
	top:6.25px;
}.e2_36 { 
	width:300px;
	height:40px;
	position:absolute;
	left:546px;
	top:35px;
}.e2_16 { 
	background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
	width:300px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.2_16 { 
	border:1px solid rgba(175.3125, 175.3125, 175.3125, 1);
}.e2_30 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:30px;
	height:21px;
	position:absolute;
	left:137px;
	top:12px;
	font-family:Inika;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e2_27 { 
	width:20px;
	height:20px;
	position:absolute;
	left:111px;
	top:12px;
}.e2_29 { 
	background-color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:14.574999809265137px;
	height:14.574999809265137px;
	position:absolute;
	left:3.5px;
	top:2.5px;
}.e2_28 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1px;
	top:0px;
}.e2_37 { 
	width:409px;
	height:528px;
	position:absolute;
	left:926px;
	top:152px;
}.e4_2 { 
	width:250px;
	height:100px;
	position:absolute;
	left:26px;
	top:370px;
}.e2_6 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:8px;
	top:5px;
	background-image:url(images/______.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_8 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:18px;
	position:absolute;
	left:120px;
	top:32px;
	font-family:Inika;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e4_12 { 
	width:250px;
	height:100px;
	position:absolute;
	left:26px;
	top:270px;
}.e4_13 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:8px;
	top:5px;
	background-image:url(images/______.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_14 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:18px;
	position:absolute;
	left:120px;
	top:32px;
	font-family:Inika;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e4_9 { 
	width:250px;
	height:100px;
	position:absolute;
	left:26px;
	top:170px;
}.e4_10 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:8px;
	top:5px;
	background-image:url(images/______.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_11 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:18px;
	position:absolute;
	left:120px;
	top:32px;
	font-family:Inika;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e4_6 { 
	width:250px;
	height:100px;
	position:absolute;
	left:26px;
	top:4px;
}.e4_7 { 
	border-radius:500px;
	width:80px;
	height:80px;
	position:absolute;
	left:8px;
	top:5px;
	background-image:url(images/______.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_8 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:21px;
	position:absolute;
	left:120px;
	top:32px;
	font-family:Inika;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e4_3 { 
	transform: rotate(2.4848083448933725e-17deg);
	width:350px;
	height:0px;
	position:absolute;
	left:29.999187469482422px;
	top:107.46646881103516px;
}.4_3 { 
	border:3px solid rgba(198.68749290704727, 197.03176975250244, 197.03176975250244, 1);
}.e4_4 { 
	color:rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
	width:56px;
	height:26px;
	position:absolute;
	left:37px;
	top:130px;
	font-family:Inika;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e4_5 { 
	color:rgba(0, 0, 0, 1);
	width:64px;
	height:21px;
	position:absolute;
	left:298px;
	top:133px;
	font-family:Inika;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}